.Profile {
    position: relative;
    bottom: 60pc;
    transition: .6s ease-in-out;

    p {
        transform: translate(10px,-4.5pc);
        font-family: $Font;
        font-size: 20px;
        letter-spacing: 2px;
        color: #fff;

        img {
            position: relative;
            top: 4pc;
            left: 7pc;
            border-radius: 50%;
            border: 2px solid rgba(76, 102, 233, 0.979);
            color:rgba(238, 70, 106, 0.451);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }
    }

    span {
        color: #fff;
        font-family: $Font;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        left: 6%;
        bottom: 10px;
    }

    #myChart {
        position: relative;
        top: 3pc;
    }
}

.logOut {
    transform: translateX(150%);
}

.logIn {
    transform: translateX(0%);
}